/* COLOURS 
------------------------------------------------------------------------------------------------------------------------------------------ */

$fresh: 	#5cd4b9;
$green: 	#18876e;


/* VARIABLES
------------------------------------------------------------------------------------------------------------------------------------------ */

@mixin icon-size {
	background-size: 8%;
	padding-left: 20px;
	}


/* TYPOGRAPHY
------------------------------------------------------------------------------------------------------------------------------------------ */


body {
	font-family: "Proxima Nova", "proxima-nova", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #444;
	background: url("../images/bg.png") fixed;
	background-color:$fresh;
	}

.logo {
	text-indent: -9999;
	display: inline-block;
	border-radius: 6px;
	padding: 4px 10px;
	border: 1px solid white; /* 1/16 */
	color: white;
	margin-bottom: 30px;
	clear: both;
	background: url(../images/refresh_logo.svg) center center no-repeat;
	background-size: 69%;
	height: 25px;	
	width: 25px;
	color: transparent;
	}

h2 {
	font-size: 2.25em; /* 36/16 */
	color: white;
	}

h3 {
	color: $fresh;
	margin-bottom: 20px;
	}

h4 {
	text-transform: uppercase;
	letter-spacing: 0.125em; /* 2/16 */
	margin-bottom: 20px;
	}

.date, 
.location {
	color: $green;
	}

.date {
	font-size: 1.125em; /* 18/16 */
	letter-spacing: 0.0625em; /* 1/16 */
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 0;
	text-align: center;
	// margin-top: 10px;
	}

.location {
	font-size: 0.875em; /* 14/16 */
	font-weight: 600;
	text-align: center;
	}

.lead {
	font-size: 1.25em; /* 20/16 */
	clear: both;
	text-align: left;
	}

header .lead {
	padding-top: 30px;
	}

em {
	font-weight: 300;
	}

p {
	padding-bottom: 0.625em; 
	text-align: left;
	} /* 10/16 */

.button {
	border-radius: 8px;
	padding: 10px 25px;
	border: 1px solid white;
	font-size: 1.125em; /* 18/16 */
	font-weight: 600;
	margin-top: 20px;
	display: inline-block;
	text-align: center;
	}

a {
	@include transition (all 150ms ease-in-out);
	color: white;
	text-decoration: none;
	&:hover {
		color: $fresh;
		background-color: white;
		}
	}

header a {
	border-bottom: 1px solid white;
	opacity: 0.8;
	padding: 0 2px;
	}

section a {
	color: $fresh;
	
	&:hover {
		color: darken($fresh, 20%);
		}
	}

small {
	clear: both;
	font-size: 0.75em; /* 12/16 */
	display: block;
	text-align: center;
	opacity: 0.5;
	padding-top: 40px;
	}


/* IMAGES
------------------------------------------------------------------------------------------------------------------------------------------ */

.avatar {
	border-radius: 50%;
	width: 128px;
	}

img {
	max-width: 100%;
	margin-bottom: 20px;
	border-radius: 5px;
	}

/* LAYOUT
------------------------------------------------------------------------------------------------------------------------------------------ */

header {
	padding: 40px 0 50px 0;
	color: white;
	text-align: center;
	}

section {
	background-color: white;
	padding-bottom: 40px;
	
	&.about {
		padding-top: 50px;
		}
	}

.container {
	width: 640px;
	margin: 0 auto;
	}

.column {
	width: 30%;
	margin-right: 3.3333%;
	float: left;
	margin-bottom: 20px;
	}

footer {
	background-color: #404040;
	color: #969696;
	padding:40px 0;

	.host {
		clear: both;
		}

	.avatar {
		width: 25%;
		float: left;
		margin-right: 15px;
		}

	p, li {
		padding-bottom: 0;
		font-size: 0.875em; /* 14/16 */
		}

	li {
		margin: 5px 0;

		&.twitter {
			background: url("../images/icons/twitter.svg") no-repeat top left;
			@include icon-size;
			}

		&.flickr {
			background: url("../images/icons/flickr.svg") no-repeat top left;
			@include icon-size;
			}

		&.youtube {
			background: url("../images/icons/youtube.svg") no-repeat top left;
			@include icon-size;
			}
		}

	.name {
		font-size: 1.25em; /* 20/16 */
		}

	.company {
		font-size: 0.75em; /* 12/16 */
		font-weight: bold;
		}

	a {
		color: #969696;
		&:hover {
			color: white;
			background: none;
			border-bottom: 1px solid white;
			}
		}
	}


/* LISTS
------------------------------------------------------------------------------------------------------------------------------------------ */

.sponsors {
	margin: 20px 0;

	img {
		// filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
  		// filter: gray; /* IE6-9 */
 		// -webkit-filter: grayscale(1);
    	opacity: 0.8;
		}

	li {
		width: 33.3333%;
		float: left;
		display: block;
		}
	}	


/* USEFUL CLASSES
------------------------------------------------------------------------------------------------------------------------------------------ */

.last {
	margin: 0;
	}

.left {
	float: right;
	}

.right {
	float: right;
	}

/* CLEARFIX */

.group:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }
